# TMDB API Key from themoviedb.org
VITE_TMDB_KEY=

# Kinopoisk Unofficial API Key from kinopoiskapiunofficial.tech
VITE_KP_KEY=

# Alloha Token from api.apbugall.org
VITE_ALLOHA_TOKEN=

# Supabase configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Telegram
VITE_TELEGRAM_BOT_NAME=
VITE_TELEGRAM_BOT_ID=
